// variables ------------------------------------------------------------------

$color-red: red;
$color-green: green;
$color-blue: blue;
$color-black: rgb(0, 0, 0);
$color-white: #FFFFFF;

$main-div-bg: #1cc5f0;

$prop-color: color;